.feedback-status {
  font-size: 1.8em;
  text-align: center;
}

.positive {
  color: #71bf43;
}

.negative {
  color: #d93a3d;
}


.donotcontact {
  color: #686c73;
  text-align: center;
}

.contact {
  display: none;
}
