<sky-list [data]="items" [defaultView]="grid" *ngIf="items">
  <sky-list-toolbar>
    <sky-list-secondary-actions>
      <sky-list-column-selector-action [gridView]="grid">
      </sky-list-column-selector-action>
    </sky-list-secondary-actions>
  </sky-list-toolbar>

  <sky-list-view-grid fit="scroll" #grid>
    <sky-grid-column
      field="contextmenu"
      [locked]="true"
      heading=""
      width="40"
      description="Feedback actions"
      [template]="menuTemplate"
      >
    </sky-grid-column>
    <sky-grid-column
      field="date"
      heading="Date"
      width="125"
      description="Date feedback was received"
      [template]="feedbackDate"
      >
    </sky-grid-column>
    <sky-grid-column
      field="status"
      heading="Status"
      width="100"
      description="Feedback status"
      >
    </sky-grid-column>
    <sky-grid-column
      field="type"
      heading="Type"
      width="40"
      description="Helpful?"
      [template]="feedbackStatusTemplate"
      >
    </sky-grid-column>
    <sky-grid-column
      field="commentGroup"
      heading="Feedback comments"
      width="450"
      description="Feedback comment received"
      [template]="commentTemplate"
      >
    </sky-grid-column>
    <sky-grid-column
      field="user"
      heading="User"
      width="220"
      description="Name of the respondent"
      [template]="feedbackUserInfoTemplate"
      >
    </sky-grid-column>
    <sky-grid-column
      field="url"
      heading="Page"
      width="250"
      description="Page they were on when they provided feedback."
      [template]="feedbackUrlTemplate"
      >
    </sky-grid-column>
  </sky-list-view-grid>
</sky-list>

<ng-template let-row="row" let-value="value" #feedbackStatusTemplate>
  <div class="feedback-status" title="{{value}}">
    <div *ngIf="value === 'positive'" class="positive">
      <i class="fa fa-thumbs-up" aria-hidden="true"></i>
    </div>
    <div *ngIf="value === 'negative'" class="negative">
      <i class="fa fa-thumbs-down" aria-hidden="true"></i>
    </div>
  </div>
</ng-template>

<ng-template let-row="row" let-value="value" #feedbackDncTemplate>
  <div class="feedback-status" title="{{value}}">
    <div *ngIf="value === 'true'" class="donotcontact" >
      <i class="fa fa-ban" aria-hidden="true"></i>
    </div>
    <div *ngIf="value === 'false'" class="contact">
    </div>
  </div>
</ng-template>

<ng-template let-row="row" let-value="value" #feedbackUserInfoTemplate>
  <strong>{{ value.first_name }} {{ value.last_name }}</strong><br>
  <a href="mailto:{{ value.email }}">{{ value.email }}</a><br>
  <em style="color:#888;" *ngIf="value.do_not_contact">Please do not contact.</em>
</ng-template>

<ng-template let-value="value" #commentTemplate>
  <sky-text-expand maxLength="150" maxExpandedLength="70" expandModalTitle="Feedback" text="{{value.comment}}">
  </sky-text-expand>
</ng-template>

<ng-template let-value="value" #feedbackUrlTemplate>
  <a [href]="value" target="_blank">{{value}}</a>
</ng-template>

<ng-template let-value="value" #feedbackDate>
  {{ value | date:medium }}
</ng-template>

<ng-template let-row="row" #menuTemplate>
    <sky-dropdown buttonType="context-menu">
      <sky-dropdown-menu>
        <sky-dropdown-item>
          <button type="button">
            Add note
          </button>
        </sky-dropdown-item>
        <sky-dropdown-item>
          <button type="button">
            Change status
          </button>
        </sky-dropdown-item>
        <sky-dropdown-item>
          <button type="button">
            Assign owner
          </button>
        </sky-dropdown-item>
      </sky-dropdown-menu>
    </sky-dropdown>
</ng-template>
